<h2>Contact us</h2><br>
<p><b>Email</b></p>
<p>Admin: <%= mail_to 'tanapon.aree@gmail.com', nil , class: "advance_search" %></p>
<p>Technical staff: <%= mail_to 'tech_support@seastech.com', nil, class: 'advance_search' %></p>
<p>Tel: (+66)83-3111-980</p>